@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta:wght@200&display=swap');

body
{
        /* The image used */
        background-image: url("../Image/bg1.jpg");
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Knora One';
}

.localstream
{
    position: relative;
    
    width: 70%;
    height: 70%;
    margin-left: 3rem;

}
.neonframe
{
    position:absolute;
    width: 70%;
    height: 70%;
}

h3{
    text-align: center;
    margin-left: 1.5rem;
    color: #65d6ce;
    font-size: 15px;
}
ul{
    color: white;
    font-size: 20px;
}

li{
    cursor: pointer;
    color: white;
    margin-left: 1.5rem;
}
.nickname
{
    color: #65d6ce;
    font-weight: bold;
    font-size: 20px;
    margin-left: 1.5rem;
    margin-bottom: 0.3rem;
}
li:hover{
    color: #65d6ce;
}

.main{
    margin-top: 1rem;
    float: none;
   
}

.display-video{
    float: left;
    margin-left: 2rem;
    width: 70%;
    margin: 0;
    padding: 0;
    
}

.display-joiner{
    display: inline;
    float: left;
    height: 70%;
    width: 23%;
    border: 2px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
    border-radius: 2px;
}

.display-chat{
    display: none;
    font-size: 12px;
    float: left;
    height: 70%;
    width: 23%;
    border: 2px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}
#chat-window{
    height: 70%;
    overflow: auto;
    background: rgba(182, 201, 240, 0);
    background:#111845a6;
}
.button{
    float: right;
}

.chat{
    margin-top: 0.5rem;
    cursor: pointer;
}

.chat:hover{
    color: #65d6ce;
    font-size: 20px;
}

.show-hide-users{
    cursor: pointer;
}
.show-hide-users:hover{
    color: #65d6ce;
    font-size: 20px;
}

.online-us{
    margin-top: 0rem;
}
#output p{
    padding: 14px 0px;
    margin: 0 20px;
    color: #fff;
    font-size: 15px;
}

/*#feedback p{
    padding: 14px 0px;
    margin: 0 20px;
}*/

#output strong{
    color: #00EAD3;
}

/*label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}*/

input{
    padding: 12px 20px;
    box-sizing: border-box;
    background: rgba(182, 201, 240, 0.1);
    border: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid D1D9D9;
    font-family: Nunito;
    font-size: 16px;
    color: #fff;
}

input::placeholder{
    font-style: italic;
    font-family:'Press Start 2P';
    font-size: 9px;
}
button{
    font-family:'Press Start 2P';
    background: #5F939A;
    color: #fff;
    font-size: 13px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
.chatbox {
    font-size: 18px;
    font-family:'Press Start 2P';
    color: white;
    animation: title 1s ease-in-out infinite alternate;
    text-align: center;
}
  
@-webkit-keyframes title {
 from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #126E82, 0 0 40px #126E82, 0 0 50px #126E82, 0 0 60px #126E82, 0 0 70px #126E82;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #51C4D3, 0 0 40px #51C4D3, 0 0 50px #51C4D3, 0 0 60px #51C4D3, 0 0 70px #51C4D3, 0 0 80px #51C4D3;
    }
}
@keyframes title {
    from {
       text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #126E82, 0 0 40px #126E82, 0 0 50px #126E82, 0 0 60px #126E82, 0 0 70px #126E82;
       }
       
       to {
         text-shadow: 0 0 20px #fff, 0 0 30px #51C4D3, 0 0 40px #51C4D3, 0 0 50px #51C4D3, 0 0 60px #51C4D3, 0 0 70px #51C4D3, 0 0 80px #51C4D3;
       }
   }


/*you join*/

.You-join {
    position: relative;
    width: fit-content;
    margin: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: solid lightblue;
    background: lightblue;
    margin-left: 0.5rem;
}

.You-join p {
    position: inherit;
    width: inherit;
    height: inherit;
    background: inherit;
    margin: 0;
    padding: 0;
    border: none;
    resize: none;
}

/*Other join*/
.Other-join {
    position: relative;
    width: fit-content;
    margin: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: solid gray;
    background: gray;
    margin-left: auto;
    margin-right: 0.5rem;
  }
  
.Other-join p {
    position: inherit;
    width: inherit;
    height: inherit;
    background: inherit;
    
    margin: 0;
    padding: 0;
    
    border: none;
    resize: none;
}


 .joiner-name{
    font-size: 9px;
    color: white;
}
.msg-content{
    color: black;
}
.user-joined{
    font-size: 9px;
    font-style: italic;
    color: darkgray;
}

.send{
    cursor: pointer;
    height: 3.4rem;
    background: whitesmoke;
}
::placeholder
{
    font-size: 20px;
}

.chatbox h2{
    font-size: 20px;
}