@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mukta:wght@200&display=swap');

body
{
    background-image: linear-gradient(to right, #031321, #3A6073);
    font-family: Krona One;
}
h3{
    margin-left: 1.5rem;
    color: #65d6ce;
}
ul{
    color: white;
}

.main{
    margin-top: 1rem;
    float: none;
   
}

.display-video{
    float: left;
    margin-left: 2rem;
    width: 70%;
    
}

.display-joiner{
    font-size: 12px;
    float: left;
    height: 600px;
    width: 23%;
    border: 1px;
    background: #393e46;
    box-shadow: 5px 2px 5px 5px #151515;
}

.display-chat{
    display: none;
    font-size: 12px;
    float: left;
    height: 600px;
    width: 23%;
    border: 1px;
    background: #393e46;
    box-shadow: 5px 2px 5px 5px #151515;
}

.button{
    float: right;
}

.chat{
    margin-top: 0.5rem;
    cursor: pointer;
}

.chat:hover{
    color: #65d6ce;
    font-size: 20px;
}

.show-hide-users{
    cursor: pointer;
}
.show-hide-users:hover{
    color: #65d6ce;
    font-size: 20px;
}

.online-us{
    margin-top: 0rem;
}