<link rel="stylesheet" href="/css/homeprivate.css">
<link rel="stylesheet" href="/css/navbav.css">
<link rel="stylesheet" href="/css/about.css"
<div class="mt-5">
    <div>
    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#">Forum</a></li>
        <li><a class="active" href="/home/profile">Profile</a></li>
        <li style="float:right"><a class="active" href="/logout">Logout</a></li>
    </ul>
    </div>
    <div id = "about" class="card-body">
    <div class="card-body-app">
            <p class="header">Something about our Livstream Application</p>
            <p>
                This application is our first Application We have done.<br>
                <br>First of all, This Application is a project for the basic network programming which we learn in this term.<br>
                <br>Further, we look forward to perfecting this application in the future so that it could be used as a real Application.<br>
                <br>This app is currently only for our subject and completely non-commercial here.<br>
                <br>In this project, we have learned a few ideas and code from other authors, if you find out the same between them please forgive us.<br>
                <br>Thank you for being here and taking your time to experience our Application.<br>
                <br>Sincerely,
                <br>My Team
            </p>
        </div>
        <div class="card-body-admin">
            <p class="header">Something about us</p>
            <p>Hello, My Friends!
                <br>Once again, thank you for being here with us.<br>
                <br>It is not necessary but we still want to introduce a little about ourselves so that we can better understand each other. Hope you feel comfortable with this.<br>
                <br>We are studying at University of Information Technology now. We are really probationary coders with not very clever ways of handling situations.<br>
                <br>Therefore, If you have any matter with our Application or you want to give us your suggestions, please contact us!<br>
            </p>
        </div>
    </div>
</div>