<link rel="stylesheet" href="/css/editprofile.css">
<link rel="stylesheet" href="/css/star.css">
<div class="container">
    <div class="box">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="content">
            <form method="POST">
            <h1>Edit Profile</h1>
                <div class="form-group">
                    <p>Username: {{username}}</p>
                    <input type="text" class="form-control" name="username" placeholder="New username">
                </div>
                <div class="form-group">
                    <p>Fullname: {{fullname}}</p>
                    <input type="text" class="form-control" name="fullname" placeholder="New full name">
                </div>
                <div class="Note">
                    <p><small><i>Please leave the parts you do not want to edit blank!</i></small></p>
                </div>
                <button type="submit" class="bn30">Save</button>
            </form>
        </div>
    </div>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</div>