<link rel="stylesheet" href="../css/enterusername.css">
<div class="enter-username">
    <label>Enter your username</label>
    <div class="form-group">
        <input type="text" placeholder="Your username..." name="username">
    </div>
    <div>
    <a href="/Livestream">
    <button class="button">JOINT</button>
    </a>
</div>
</div>