<div class="mt-5">
    <h1 data-text = "LIVESTREAM">LIVESTREAM</h1>
    <link rel="stylesheet" href="/css/homepublic.css">
    <div class="wrapper">
         <form method="GET" action="/login">
               <button type="submit" formaction="/login" class="login">Login</button>
          </form>
          <form method="GET" action="/signup">
                    <button type="submit" class="signup">Register</button>
           </form>
    </div>
</div>