
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/dist/ShowHideElements.js"></script>
    <!--<h3 id="peer-id">Your peer id: </h3>-->
    <div class="container">
            <h2 class="chatbox" id=roomid></h2>
        <!--<img src='/Image/neonframe.png' class="neonframe">-->
        <div class="display-video">
            <div id="video">
                <video id="localStream" class="localstream" controls></video>
                <br /><br />
            </div>
        </div>
            <div id="emotion-wrapper" class="emotion-wrapper">
                <div id="symbol" class="symbol">
                    <img src="/icons/a.webp" class="emotion-icon" alt="symbol" width="40" height="40" onclick="show_list_emotion_icons()">
                </div>
                <div id="list-emotion-icons" class="list-emotion-icons">
                    <img src="/icons/heart.gif" id="heart" class="emotion-icon" onclick="">
                    <img src="/icons/like.gif" id="like" class="emotion-icon" onclick="">
                    <img src="/icons/ok.gif" id="ok" class="emotion-icon" onclick="">
                    <img src="/icons/vitory.gif" id="vitory" class="emotion-icon" onclick="">
                    <img src="/icons/clap.gif" id="clap" class="emotion-icon" onclick="">
                </div>
            </div>
            
        <div id="display-joiner" class="display-joiner">
            <div class="chat-window">
                <h2 class="chatbox">MEMBER</h2>
            </div>
            <div id="ulPeerId"> 
            </div>
        </div>
        <div class="button">
            <div class="show-hide-users">
                <i onclick="show_hide_users()" class="fas fa-users fa-2x"></i>
            </div>
            <div class="chat">
                <i onclick="show_hide_chat()" class="fas fa-comment-dots fa-2x"></i>
            </div>
        </div>
        <div class="chatabc">
        <div id="display-chat" class="display-chat">
            <h2 class="chatbox">CHAT BOX</h2>
            <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
            </div>
            <input id="message" type="text" placeholder="Type message here..." />
            <button id="send">Send</button>
         </div>
            <!--<input class="enter-msg" id="enter-msg" placeholder="Your message here...">-->
        </div>
    </div>
    <script src="/dist/bundle.js"></script>