<!DOCTYPE html>
<html lang="en">
<head>
    <title>Livestream WebRTC</title>
</head>
<body>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.css"> 
    <!--<h3 id="peer-id">Your peer id: </h3>-->
    <div class="main" id="main">
        <div class="display-video">
            <div id="video">
                <video id="localStream" width="930" height="500" controls></video>
                <!--<video id='friendStream' width="300" controls></video> -->
                <br /><br />
            </div>
        </div>
        <!--<input type="text" placeholder="Your Friend's peer id" id="txtFriendId">
        <br /><br />
        <button id="btnCall">Call</button> -->
        <div id="display-joiner" class="display-joiner">
            <div class="online-us">
                <h3>Online Users</h3>
            </div>
            <div id="ulPeerId"> 
            </div>
        </div>
        <div class="button">
            <div class="show-hide-users">
                <i onclick="show_hide_users()" class="fas fa-users fa-2x"></i>
            </div>
            <div class="chat">
                <i onclick="show_hide_chat()" class="fas fa-comment-dots fa-2x"></i>
            </div>
        </div>
        <div class="chatabc">
        <div id="display-chat" class="display-chat">
        <div class="form">
            <ul id="ulchat"> 
            </ul>
            <div class="senMess">
            <button class="send" id ="submit-msg" ><i class="fa fa-paper-plane"></i></button>
            <textarea id="enter-msg" name="" cols="20" rows="3" placeholder="enter your message"></textarea>
        </div>
        </div>
         </div>
            <!--<input class="enter-msg" id="enter-msg" placeholder="Your message here...">-->
    </div>
    </div>
    </div>
    <script src="/dist/ShowHideElements.js"></script>
</body>
<script src="/dist/bundle.js"></script>
</html>