<link rel="stylesheet" href="/css/navbav.css">
<link rel="stylesheet" href="/css/profile.css">
<div class="mt-5">
    <ul>
        <li><a href="/home" > Home</a></li>
        <li><a href="/home/about" >About</a></li>    
        <li><a href="#" >Contact</a></li>
        <li><a class="active" href="/home/profile"  >Profile</a></li>
        <li style="float:right"><a class="active" href="/logout" >Logout</a></li>
    </ul>
    <div class="card">
        <div class="ds-top"></div>
        <div class="avatar-holder">
            <img src="/image/user.png" alt="Albert Einstein">
        </div>
        <div class="name">
            <h5 class="username">{{username}}</h5>
            <h5 class="member">Member</h5>
        </div>
        <div class="ds-infor">
            <h6>INFORMATION <i class="fa fa-code" aria-hidden="true"></i></h6>
            <div class="infor">
            <h6>FULL NAME</h6>
            <div>
                <p>{{fullname}}</p>
            </div>
            </div>
            <div class="infor">
            <h6>USERNAME</h6>
            <div>
                <p>{{username}}</p>
            </div>
            </div>
            <div class="infor">
            <h6>EMAIL</h6>
            <div>
                <p>{{email}}</p>
            </div>
            </div>
            <div class="edit">
            <a href="/home/edit" >Edit</a>
            </div>
        </div>
    </div>
</div>
